<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="" class="navbar-brand">Spring</a>
    </div>
    <ul class="navbar-nav">
      <li *ngIf="this.authenticationService.isUserLoggedIn()">
        <a routerLink="welcome" class="nav-link">Home</a>
      </li>
      <li *ngIf="this.authenticationService.isUserLoggedIn()">
        <a routerLink="todos" class="nav-link">Todos</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!this.authenticationService.isUserLoggedIn()">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li *ngIf="this.authenticationService.isUserLoggedIn()">
        <a style="cursor: pointer" (click)="handleLogout()" class="nav-link"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
